body {
  margin: 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}




.card {
  padding: 30px;
  background-color: #fffbf4;
  width: 19rem;
  padding: .9rem .4rem .4rem;
  border-radius: 20px;
  box-shadow: 4px 5px 9px #000;
}

.card-flex{display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1.5rem;} /*mm*/


.card p {
      font-family: Bitter,serif;
      text-align: start;
      font-size: 15px;
  }

  .card h2 {
    align-self: flex-end;
    font-size: 20px;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
